
.topnavbar {
   /* background-color:#333 ; */
   overflow: hidden;
   padding-bottom: 0;
}
.topnavbar a{
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   font-family: sans-serif;
}
.topnavbar a:hover{
   background-color: #ddd;
   color: black;
}
.topnavbar a.active{
   background-color:#04AA6D ;
   color: white;
}
#mm{
   float:right;
   width: 173px;
   height: 43px;
   margin-top: -135px;
   margin-right: 400px;
}
#benz{
   background-position: center;
   background-size: cover;
   width: 100%;
    

}

#home .home-words{
   position: absolute;
   bottom: 0;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 0 15px;
}

#home h1{
   font-family: Georgia;
   color: darkslategray;
   font-size: 60px ;
   padding: 5px 10px;
   margin-bottom: 80px;
   border-radius: 50px;
   margin-left: 70px;
   margin-top: -5%;

}
#home h2{
   font-style:italic;
   font-family:'Courier New', Courier, monospace;
   color:darkslategray;
   margin-top: -7%;
   font-size: 20px;
}
#home h3{
   font-family: 'Lucida Sans';
   color:whitesmoke;
   margin-top: 10px;
   font-family: 'Courier New', Courier, monospace;
}
#Services h1{
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: palegreen;
}
#words{
   text-align: center;
   color: palegreen;
   font-style: italic;
   font-family:'Courier New', Courier, monospace;
   
}

#Services {
   background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/car.webp);
   
   max-width: 100%;
   height: auto;
   
}

#card{
   border-radius: 2%;
   border-width: thick;
}

#bottom{
   margin-top: -15px;
  padding-bottom: 30px;
  background: black;
}
#bottom-words{
   font-family: 'Courier New', Courier, monospace;
   color: palegreen;
   text-align: center;
   font-size: larger;
   position: relative;
}
#card-img-top{
   width: 100%;
   height: 100%;
}#c-titles{
   font-style: italic;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: palegreen;
}
#c-words{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style:italic;
   color: palegreen;
}
#logo{
   float: left;
   
   margin-top:-10px;
}
#About h1{
   text-align: center;
   color: palegreen;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
#About-heading{
   text-align: center;
   font-style: italic;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: lightskyblue;
   
}
.About-body{
   
   margin-left: 300px;
   margin-right: 300px;
   font-family: cursive;
   text-align: center;
   color:lightskyblue;
   
}
#About{
   
   background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/ferrari.jpg);
   background-position:center;
   background-size:cover;
   margin-top: -25px;
   display:auto;
}
#card-design{
   background-color: black;
   
}
#card-design.responsive :hover{
  background-color: darkslateblue;
  color: lightskyblue;
}
#Contact{
   text-align: center;
}
.responsive{
   max-width: 100%;
   height: auto;
}
.home-words{
   max-width: 100%;
   height: auto;
}
#contact-1{
   text-align: center;
   color: palegreen;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: italic;
   margin-bottom: 30px;
}
#contact-2{
   text-align: center;
   color: palegreen;
   font-family: 'Courier New', Courier, monospace;
   font-size: large;
}
form{
   margin-top: 50px;
   text-align: center;

}
input{
   display: block;
width: 350px;
height: 40px;
margin: 20px;
border: none;
outline: none;
font-size: 20px;
border-bottom: 1px solid white;
background:transparent;
color: white;
}
#Contact-Us{
   margin-top: -20px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   flex-direction: column;
   background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/koenigsegg.jpg);
   background-size: cover;

}
button{
   
   margin-right: 70px;
   width: 200px;
   height: 40px;
   font-size: 20px;
   border-radius: 50px;
   
   border: none;
   color: black;
   font-family: cursive;
   }
   #button.yeye :hover{
     background-color: palegreen;
   }

.contact-info{
   
   color: palegreen;
}